#colorpicker {
	border: solid 3px #211F1F;
	width:200px;
	height:200px;
	position:fixed;
	right:0;
	top:300px;
	z-index:500;
	background-color:#111010;
	padding:20px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
}

#colorpicker h3 {
	color:#fff;
	font-size:17px;
	margin-bottom:5px;
}

#colorpicker p {
	color:#fff;
	font-size:14px;
	margin-bottom:20px;
}

#colorpicker select {
	width:90%;
	padding:10px;
}